@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-image: url(../images/concrete_wall.png);
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

main {
    background-image: url(./images/concrete_wall.png);
}

.info {
    margin-top: 120px;
}

.pic {
    margin-top: 120px;
}

.brand img {
    width: 80px;
    height: 68px;
    margin-top: 10px;
}

.container {
    width: 1024px;
    max-width: 100%;
    margin: auto;
}

body {
    background-color: #C4C4C4;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-wrapper ul.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-wrapper ul.nav-list li {
    margin-left: 30px;
    padding: 20px 0;
    position: relative;
}

.nav-wrapper ul.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
}

.nav-wrapper ul.nav-list li a:hover,
.nav-wrapper ul.nav-list {
    color: #D4AF37;
}

#active a {
    font-weight: bold;
    color: #D4AF37;
}

.btn {
    margin-top: 40px;
    background: transparent;
    color: white;
    outline: none;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    border: 1px solid white;
    transition: all .5s ease-in-out;
}

.btn:hover {
    background: black;
    border-color: white;
}

.btn1 {
    background: black;
    color: white;
    outline: none;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    border: 1px solid white;
    transition: all .5s ease-in-out;
}

.btn1:hover {
    background: white;
    border-color: black;
    color: black;
}

main section.header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 160px; */
}

h2 {
    margin-top: 50px;
    font-size: 33px;
    margin-bottom: 20px;
    color: white;
}

.header h1 {
    font-size: 35px;
    color: white;
}

.info p {
    color: white;
    margin-top: 20px;
    font-size: 30px;
}

img {
    width: 462px;
    height: 590px;
}


/* ........................................contact me ................................ */

.contactme {
    margin-bottom: 50px;
}

.contact-me {
    margin-top: 50px;
    margin-left: 170px;
    margin-bottom: 20px;
}

.address {
    display: flex;
}


/* .contactme {
    background-color: red;
} */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    align-items: center;
    background-color: white;
    color: black;
    border: 1px solid black;
}

input[type=submit] {
    margin-left: 200px;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
}

textarea {
    resize: none;
    min-height: 140px;
}

.map {
    margin-left: 60px;
}

.call {
    width: 50px;
    height: 50px;
}

.email {
    width: 50px;
    height: 50px;
}

.address-info {
    text-align: center;
}

.mapouter {
    margin-top: 20px;
    border: 1px solid black;
}


/* .........................................footer................................. */

.footer {
    background-color: black;
}

.location {
    color: white;
    margin-right: 50px;
}

.icons img {
    width: 20px;
    height: 20px;
}

.footer p {
    color: white;
}


/* .newsletter input[type=text] {
    color: #04AA6D;
    background-color: #04AA6D;
} */

.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.newsletter button {
    background-color: black;
    color: white;
    padding: 5px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
}

.footer p {
    font-size: 15px;
    text-align: center;
}

.home {
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -40px;
    ;
}

.line {
    height: 10px;
    width: 200px;
    border-radius: 30%;
    background-color: #D4AF37;
    display: block;
    margin: auto;
}

.line1 {
    height: 10px;
    width: 160px;
    border-radius: 30%;
    background-color: #D4AF37;
    display: block;
}

html {
    scroll-behavior: smooth;
}


/* ..........................humberger menu..................................... */

.mobile .hamburger {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
}

.mobile .hamburger span {
    background: white;
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
    margin-right: 30px;
}

.mobile ul.nav-list {
    background-image: url(../images/concrete_wall.png);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.hamburger,
.brand {
    z-index: 9999;
}

.mobile ul.nav-list.open {
    opacity: 1;
    pointer-events: auto;
}

.mobile .hamburger span {
    transform-origin: left;
    transition: all .3s ease-in-out;
}

.mobile ul.nav-list li a {
    font-size: 20px;
}

.mobile ul.dropdown-list {
    position: relative;
    background: transparent;
    text-align: center;
    height: 0;
    overflow-y: hidden;
    transition: opacity 1s ease-in-out;
    padding-top: 0;
}

.mobile .nav-wrapper ul li:hover .dropdown-list {
    height: max-content;
    padding-top: 6px;
}

.mobile ul.nav-list li {
    margin-left: 0;
    text-align: center;
}

.mobile .nav-wrapper ul.dropdown-list li a {
    color: black;
}


/* .............................................blogs............................ */

.blog-pic img {
    margin-top: 100px;
    width: 600px;
    height: 200px;
}

.author {
    color: red;
    background-color: red;
}

.blog-info h1 {
    margin-top: 40px;
}

.blog-info img {
    width: 5%;
    height: 10%;
    border-radius: 40%;
}

.comments {
    display: flex;
    padding: 20px;
}

.comment1 {
    margin-left: 20px;
    margin-top: -40px;
}

.comment1 h1 {
    font-size: 15px;
}

.lorem {
    margin-top: 40px;
    margin-left: -100px;
}

.leave {
    margin-top: 60px;
    margin-bottom: 40px;
}

.form {
    margin-bottom: 40px;
}

@media (min-width: 322px) and (max-width:415px) {
    .blog-pic img {
        margin-top: 100px;
        width: 300px;
        height: 200px;
        margin-left: 10px;
    }
    .blog-pic p {
        margin-left: 10px;
    }
    .blog-info h1 {
        margin-top: 40px;
        text-align: center;
    }
    .blog-info img {
        width: 25%;
        height: 10%;
        border-radius: 40%;
    }
    .blog-info p {
        text-align: center;
        padding: 10px;
    }
    .comments {
        padding: 20px;
    }
    .leave {
        margin-top: 60px;
        margin-bottom: 40px;
        text-align: center;
    }
    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical
    }
    input[type=submit] {
        background-color: black;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    input[type=submit]:hover {
        align-items: center;
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    .form {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    textarea {
        resize: none;
        min-height: 140px;
    }
    /* ......................................................footer........................ */
    .control {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .footer {
        margin-top: -40px;
        background-color: black;
    }
    .location {
        color: white;
        text-align: center;
        margin-left: 50px;
    }
    .icons img {
        margin-top: 20px;
        width: 20px;
        height: 20px;
        padding: 3px;
    }
    .footer p {
        margin-top: 20px;
        color: white;
    }
    .newsletter button {
        background-color: black;
        color: white;
        padding: 5px 40px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid white;
    }
    .footer p {
        margin-top: 30px;
        font-size: 13px;
        text-align: center;
    }
    .home {
        width: 40px;
        height: 40px;
        float: right;
        margin-top: -80px;
    }
    .newsletter button {
        margin-right: 120px;
    }
    .brand img {
        width: 55px;
        height: 53px;
        margin-top: 10px;
        margin-left: 20px;
    }
    h1 {
        font-size: 15px;
    }
    .blog-pic img {
        width: 380px;
    }
    .comments img {
        width: 19%;
        margin-left: 40px;
    }
}


/* ........................................myblogs...................................... */

.myblogs {
    background-color: #e5e5e5;
}

.myblogs h1 {
    text-align: center;
}

.blog-sect {
    background-color: #c4c4c4;
    width: 280px;
    height: 440px;
    border-radius: 5%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.myblogs a {
    text-decoration: none;
    color: black;
}

.blog-sect img {
    width: 280px;
    height: 130px;
    padding: 10px;
}

.blog-sect p {
    font-size: 18px;
    padding: 10px;
}

.blog-sect h1 {
    font-size: 20px;
}

.next {
    width: 100px;
    height: 100px;
    margin-left: 70px;
}

.emoji1 img {
    width: 40px;
    height: 40px;
    margin-left: 65px;
}


/* .emoji1:hover {
    color: #d4af37;
    background-color: #d4af37;
}

.emoji:hover {
    color: #d4af37;
    background-color: #d4af37;
} */

span {
    color: red;
}

#blog__card {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.searching {
    display: flex;
    justify-content: space-between;
}

.searching input[type="text"] {
    margin-top: 40px;
    color: black;
}

.searching button {
    margin-top: 40px;
    border-radius: 10px;
}