    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #C4C4C4;
    }
    
    img {
        width: 40px;
        border-radius: 100%;
        margin: 20px;
    }
    
    .profile {
        display: flex;
        flex-direction: row;
    }
    
    .profile h1 {
        margin-top: 30px;
    }
    
    .profile h1,
    .profile p {
        font-size: 16px;
        color: white;
    }
    
    .container {
        background-color: #32363B;
        width: 20%;
        height: 720px;
    }
    
    .info img {
        width: 20px;
        margin-left: 40px;
    }
    
    .info h4 {
        margin-top: 30px;
        color: white;
    }
    
    h2 {
        color: white;
        background-color: black;
        margin-left: 20px;
    }
    
    .admin {
        background-color: black;
    }
    
    .menu li {
        margin-top: 10px;
        color: white;
    }
    
    .menu li:hover {
        background-color: black;
        height: 60px;
    }
    
    .menu img {
        width: 20px;
    }
    
    li p {
        margin-top: -41px;
        margin-left: 50px;
    }
    
    .user {
        margin-top: 20px;
        background-color: black;
    }
    
    .logout p {
        margin-top: -43px;
        margin-left: 80px;
        color: white;
    }
    
    .logout img {
        width: 20px;
    }
    
    .logout a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    
    .active {
        background-color: black;
        height: 60px;
    }
    
    .rightside {
        background-color: #32363B;
        width: 20%;
        height: 720px;
        margin-top: -720px;
        float: right;
    }
    
    .heading {
        margin-left: 300px;
        margin-top: -700px;
    }
    
    div a {
        text-decoration: none;
        color: white;
    }
    
    input[type="text"] {
        margin-left: 300px;
        width: 50%;
        padding: 10px;
    }
    
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        margin-left: 450px;
        font-size: 20px;
        margin-top: 80px;
        width: 700px;
    }
    
    td img {
        width: 50%;
        height: 50%;
    }
    
    .titles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }
    
    .titles p:hover {
        background-color: black;
        color: white;
    }
    /* .............................................articles............................... */
    
    .menu2 ul {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        color: black;
        margin-left: 300px;
        justify-content: space-between;
        width: 55%;
    }
    
    .add {
        margin-top: 10px;
        margin-left: 300px;
        padding: 10px;
        background-color: black;
        color: white;
    }
    
    div input[type="text"] {
        width: 20%;
    }
    
    hr {
        width: 60%;
        margin-left: 260px;
    }
    
    .edit {
        margin-left: 20px;
    }
    
    .search {
        background-color: black;
        color: white;
        padding: 10px;
    }
    
    li button {
        padding: 10px;
        color: white;
    }
    
    .comments {
        margin-left: 300px;
        width: 55%;
    }
    /* .........................form.................. */
    
    .new input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical
    }
    
    form button {
        background-color: black;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        align-items: center;
        margin-left: 200px;
    }
    
    form button:hover {
        align-items: center;
        background-color: white;
        color: black;
        border: 1px solid black;
    }
    
    input[type=submit] {
        margin-left: 200px;
    }
    
    .form {
        border: 1px solid black;
        border-radius: 5px;
        background-color: #E5E5E5;
        padding: 20px;
        width: 50%;
        margin-left: 300px;
    }
    
    .new input[type=text] {
        margin-left: -1px;
    }
    
    @media (min-width: 322px) and (max-width:399px) {}